License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.fifth {
    text-align: center;
    background-color: darkred;
}
.fifth p{
 font-size: 20px; 
 color: gray;
 padding: 15px;
}
.sixth {
    text-align: center;
    background-color: darkred;
    height:1250px;
}

.seventh {
    text-align: center;
    background-color: darkred;
}
.seventh p{
 font-size: 20px; 
}
.eighth {
    text-align: center;
}
.eighth p{
 font-size: 20px; 
}
.eleventh{
    text-align: left;
    color: gray;
    font-size: 20px;
    padding: 15px;
}
.eleventh dd{
    padding: 15px;
}
body{
    background-image : url(assets/cool.jpg);
    background-repeat: repeat-y;
    background-size: cover;
    margin: 70px;
}
.third{
    background-image: url(assets/BurgersNSandwich2.png);
    background-repeat: repeat-y;
    background-size: cover;
    height: 550px;
}
.feet{
    text-align: right;
    color: gray;
    font-size: 20px;
    position: relative;
    bottom: 1120px;
    padding: 15px;
}
.feet dd{
 padding: 15px;   
}
.first{
    background-color: #1E2022;
    text-align: center;
    padding: 15px;
    margin: 15px;
    
}
.first p{
    color: gray;
    font-size: 20px;
}
.third p{
    text-align: center;
    color: yellow;
    font-size:40px; 
    position: relative;
    top: 100px;
}
.me{
    color: red;
}
.fourth a{
   text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 15px;
    position: relative;
    top: 190px;
    
}
.precious a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 15px;
    
}
.milk{
    background-image: url(assets/food.png);
    background-repeat: repeat-y;
    background-size: cover;
    height: 550px;  
}
.next a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 15px;
    position: relative;
    top: 500px; 
    background-color: black;
}
.common{
    background-image: url(assets/burger.jpg);
    background-repeat: repeat-y;
    background-size: cover;
    height: 550px;
}
.meek a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 15px;
    position: relative;
    top: 500px; 
    background-color: black;
}